body, h1, h2, h3, p, ul, figure, figcaption {
  margin: 0;
  padding: 0;
}




body {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  line-height: 1.6;
  color: black;
  background-color: #f2f2f2;
}

header {
  background-color: black;
  color: gold;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
}

header img {
 max-width: 130px;
  
}

nav {
  display: flex;
  justify-content: center;
  text-align: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  justify-content: center;
}

nav ul li {
  display: flex;
  margin-right: 20px;
  display: inline-block;
  margin: 0 10px;
  text-align: center;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: gold;
  font-weight: bold;
  font-size: 18px;
}

section {
  padding: 50px 0;
}

#mission {
  position: relative;
  height: 100vh;
  background-image: url(../images/Tech\ background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mission .content {
  text-align: center;
}

h2 {
  color: #0066cc; 
}

h4 {
  color: #333; 
}

hgroup{
  text-align: center;
}

figure {
  margin-bottom: 20px;
  text-align: center;
}

figcaption {
  font-style: italic;
  color: #333; 
}

#parts{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#parts hgroup {
  text-align: center;
}

#parts figure {
  flex: 0 1 calc(27%);
  margin-bottom: 20px;
  text-align: center;
}

#parts img {
 width: 100%;
 max-width: 150px;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
}

#parts figure img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

#parts h4 {
  margin-top: 10px;
}



#team {
  display: flex;
  justify-content: space-between;
}

#team figure {
  flex: 1;
  text-align: center;
  margin: 0 10px; 
}
#team img {
  width: 100%;
  max-width: 150px; 
  border-radius: 50%; 
}

#team h4 {
  margin-top: 10px; 
}
#members h2 {
  text-align: center;
}

#contact {
  text-align: center;
}

footer {
  background-color: black;
  color: gold;
  text-align: center;
  padding: 10px 0;
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  nav {
    margin-top: 10px;
  }

  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  section {
    text-align: center;
  }

  #team {
    flex-direction: column;
  }
  
  #parts figure{
    flex-basis: calc(33%);
    flex-direction: column;
    flex-flow: column;
  }
}

@media (max-width: 767px) {
  #parts figure {
    flex: 0 1 100%; 
  }
}

@media  (max-width: 1441px) {
.pieces {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

}

